/* SPDX-License-Identifier: GPL-3.0-or-later */

.anchor {
    transition: filter 0.1s ease-in-out;
    text-decoration: none;
}

.anchor:not(.light) {
    font-weight: bold;
}

.anchor:hover {
    filter: brightness(0.75);
}

.anchor:active {
    filter: brightness(0.5);
}

.button {
    color: var(--text-color);
    background-color: var(--background);
    border: 1px solid var(--blue);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 3px 8px;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    line-height: 1;
    transition: filter 0.1s ease-in-out;
}

.button+.button {
    margin-left: 3px;
}

.button:hover {
    filter: var(--filter-lv1);
}

.button:active {
    filter: var(--filter-lv2);
}

.lineedit {}

.fade {
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.floatdiv {
    background-color: var(--background);
    border: 1px solid var(--fog);
    border-radius: 4px;
    box-shadow: 0 1px 3px var(--shadow);
    box-sizing: border-box;
    padding: 3px;
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}