/* SPDX-License-Identifier: GPL-3.0-or-later */

.hr {
    margin: 3px 0;
}

.quickview {
    font-size: 14px;
    font-weight: bold;
}

.quickconclusion {
    font-size: 14px;
    padding: 0 3px;
}


.detailview {
    display: flex;
    gap: 5px;
}

.detailviewL {
    min-width: 16px;
    text-align: right;
}

.detailviewR {
    flex: 1;
}

.percentview {
    font-size: 14px;
    font-weight: bold;
}

.quickoperation>div:not(:last-child) {
    margin-bottom: 3px;
}

.singleview {
    font-weight: bold;
}

.singlegroup:not(:last-child) {
    margin-bottom: 8px;
}

.groupname {
    display: inline-block;
}

.header>:not(:last-child) {
    margin-right: 3px;
}

.leftview {
    display: inline-block;
}

.rightview {
    float: right;
}

.rightview>:not(:last-child) {
    margin-right: 3px;
}

.ac {
    color: var(--green);
}

.wa {
    color: var(--red);
}

.na {
    color: var(--blue);
}

.emphasize {
    font-size: 12px;
    font-weight: bold;
    font-variant: small-caps;
}