.quickview {
    font-size: 14px;
    font-weight: bold;
}

.quickoperation {
    font-size: 14px;
}

.detailview {
    display: flex;
    gap: 5px;
}

.detailviewL {
    min-width: 16px;
    text-align: right;
}

.detailviewR {
    flex: 1;
}

.percentview {
    padding: 0 3px;
}

.percentviewem {
    font-size: 14px;
    font-weight: bold;
}

.singleview {
    font-weight: bold;
}

.singlegroup:not(:last-child) {
    margin-bottom: 8px;
}

.groupname {
    display: inline-block;
}

.header>:not(:last-child) {
    margin-right: 3px;
}

.leftview {
    display: inline-block;
}

.rightview {
    float: right;
}

.rightview>:not(:last-child) {
    margin-right: 3px;
}

.ac {
    color: var(--green);
}

.wa {
    color: var(--red);
}

.emphasize {
    font-size: 12px;
    font-weight: bold;
    font-variant: small-caps;
}

.anchor {
    transition: filter 0.1s ease-in-out;
    font-weight: bold;
    text-decoration: none;
}

.anchor:hover {
    filter: brightness(0.75);
}

.anchor:active {
    filter: brightness(0.5);
}