/* SPDX-License-Identifier: GPL-3.0-or-later */

.table {
    --cell-width: 80px;
    --cell-height: 30px;
    display: flex;
}

.table * {
    box-sizing: border-box;
}

.title {
    background-color: var(--background);
    position: sticky;
    left: 0px;
    border-right: 2px solid var(--fog);
    box-shadow: 4px 0 3px -3px var(--shadow);
}

.header {
    background-color: var(--background);
    white-space: nowrap;
}

.mask {
    background-color: var(--background);
    position: fixed;
    top: 56px;
    overflow: hidden;
}

.body {
    white-space: nowrap;
    overflow: auto;
}

.cell {
    display: inline-block;
    vertical-align: top;
    margin: 1px;
    width: var(--cell-width);
    height: var(--cell-height);
}

.header_cell {
    display: inline-block;
    vertical-align: top;
    margin: 1px;
    width: var(--cell-width);
    height: var(--cell-height);
}

.title_cell {
    display: flex;
    padding: 1px;
    height: calc(var(--cell-height) + 2px);
    text-align: center;
}

.title_cell_left {
    flex: 1;
    padding: 0 8px;
    overflow: hidden;
    white-space: nowrap;
}

.title_cell_mid {
    width: 1px;
    height: calc(var(--cell-height) + 2px);
    margin: -1px 0;
    background-color: var(--fog);
}

.title_cell_right {
    width: var(--cell-width);
}

.inner_cell {
    display: inline-block;
    border: 1px solid var(--fog);
    border-radius: 3px;
    width: var(--cell-width);
    height: var(--cell-height);
    text-align: center;
    transition: filter 0.1s ease-in-out;
}

.inner_cell:hover {
    filter: var(--filter-lv2);
}

.inner_header {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 3px 8px;
    width: var(--cell-width);
    height: var(--cell-height);
    font-size: 14px;
    color: var(--text-color);
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    transition: filter 0.1s ease-in-out;
}

.inner_header:hover {
    border-color: var(--fog);
}

.special_cell {
    font-size: 14px;
    height: calc(var(--cell-height) + 2px);
    border-bottom: 1px solid var(--fog);
}

.special_cell>.title_cell_left,
.special_cell>.title_cell_right {
    padding-top: 4px;
    padding-bottom: 3px;
}

.passed {
    color: var(--green);
    border-color: var(--light-green);
    background-color: var(--light-green);
}

.submitted {
    color: var(--red);
    border-color: var(--light-red);
    background-color: var(--light-red);
}

.privacy {
    background-color: var(--fog);
}

.myself {
    background-color: var(--light-green);
}