/* SPDX-License-Identifier: GPL-3.0-or-later */

@use "./shared";

.xroot {
    @include shared.base-theme;
    @include shared.base-font;
    color: var(--text-color);
    background-color: transparent;
}

.xroot[theme="dark"] {
    @include shared.dark-theme;
}

.xcard {
    background-color: var(--background);
    border-radius: 4px;
    box-shadow: 0 1px 3px var(--shadow);
    box-sizing: border-box;
    padding: 1.3em;
    margin-bottom: 1.3em;
}

.xdropbox {
    background-color: var(--background);
    border-radius: 4px;
    box-shadow: 0 1px 3px var(--shadow);
    box-sizing: border-box;
    padding: 12px;
    width: clamp(200px, 360px, 360px);
    max-height: 300px;
    overflow: auto;
}

.xtrainingEntry {
    box-sizing: border-box;
    height: 64px;
    padding: 20px 8px;
    cursor: pointer;
}

.xtraining {
    box-sizing: border-box;
    max-width: 1200px;
    min-width: 448px;
    margin: 0 auto;
    padding: 0 16px;
}

.xtrainingCard {
    background-color: var(--background);
    border-radius: 4px;
    box-shadow: 0 1px 3px var(--shadow);
    padding: 20px;
}

.xtrainingHeader {
    padding: 8px 24px;
}

.xh3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.tip {
    margin: 0;
    font-size: 12px;
    color: var(--light-text);
}

.banner {
    display: inline-block;
    border: 1px solid var(--red);
    border-radius: 4px;
    padding: 0 3px;
    color: var(--red);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}