/* SPDX-License-Identifier: GPL-3.0-or-later */

@use "./shared";

:root {
    @include shared.base-theme;
}

:root[theme="dark"] {
    @include shared.dark-theme;
}

body {
    font-size: 0.875em;
    width: 400px;
    margin: 10px;
    background-color: var(--background);
    color: var(--text-color);
}

ul {
    margin: 3px 0;
}