/* SPDX-License-Identifier: GPL-3.0-or-later */

.header {
    margin: 12px 0;
}

.main>:not(:first-child) {
    margin-top: 12px;
}

.footer {
    margin-top: 12px;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
}