/* SPDX-License-Identifier: GPL-3.0-or-later */

.header {
    margin: 12px 0;
}

.main>:not(:first-child) {
    margin-top: 12px;
}

.footer {
    margin-top: 12px;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
}

.luoguPermissionStatus {
    font-weight: bold;
}

.outdated_list {
    color: var(--light-text);
}

.outdated_list>span:not(:last-child)::after {
    content: ", ";
}

.ok {
    color: var(--green);
    font-weight: bold;
}

.bad {
    color: var(--red);
    font-weight: bold;
}